* {
    box-sizing: border-box;
}

body {
    /* Variables */
    --container-width: 45rem;
    
    /* Theme colors */
    --color-text-white: rgba(255, 255, 255, 0.9);
    --color-text-black: rgba(0, 0, 0, 0.9);
    --color-outline: var(--color-primary) 0px 0px 4px 1px;

    /* Brand colors */
    --color-primary: #F7DF1F;
    --color-primary-darker: #AC9A13;
    --color-primary-darkest: #605506;
    
    --color-background: black;
    --color-text: var(--color-text-white);
    --color-links: var(--color-primary);

    background: var(--color-background);
    color: var(--color-text);
}

body.light-mode {
    --color-text: var(--color-text-black);
    --color-background: white;
    --color-links: var(--color-primary-darkest);
}

a {
    color: var(--color-links);
}

a:focus, button:focus, input:focus, textarea:focus {
    box-shadow: var(--color-outline);
    outline: none;
}

ol, ul {
    list-style-position: inside;
}
