---
layout: base.layout.njk
---

{# <pre>{{ airtable.contacts | stringify | safe }}</pre> #}


<div>
  <div class="main-container w-container">
    <h1>
      Контакты
    </h1>
    <p>
      Для связи с организаторами желательно использовать почту:
      <a href="mailto:team@moscowjs.ru?subject=MoscowJS%20%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81">
        team@moscowjs.org
      </a>
    </p>
    <h1>Организаторы</h1>
    <div class="w-dyn-list">
      <div class="w-dyn-items">

        {% for contact in airtable.contacts %}
          <div class="speaker-item w-dyn-item">
            <div class="w-row">
              <div class="speaker-column w-col w-col-2">
                <img
                  {% if contact.speaker.photo %}
                    src="{{ contact.speaker.photo[0].url }}"
                  {% endif %}
                  alt="{{ contact.displayName }}"
                  class="speaker-avatar"
                />
              </div>
              <div class="w-col w-col-10">
                <a
                  href="{{ config.vhost }}/speakers/{{ contact.speaker.slug }}/"
                  class="speaker-name"
                >
                  {{ contact.displayName }}
                </a>
                <p class="speaker-about">
                  {{ contact.speaker.about }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

