---
layout: base.layout.njk

pagination:
  data: airtable.events
  size: 1
  alias: event
permalink: events/{{ event.slug }}/
---

{# <pre>{{ event | stringify | safe }}</pre> #}

<div>
  <div class="main-container w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h1>
          {{ event.title }}
        </h1>
      </div>
      <div class="w-clearfix w-col w-col-6">
      {# TODO: Add timepad url #}
      {% if event %}
        <a
          href="{{ event.slug }}"
          target="_blank"
          class="signup-button w-button"
        >
          ЗАРЕГИСТРИРОВАТЬСЯ
        </a
        >
      {% else %}
        <div class="signup-button">
          РЕГИСТРАЦИЯ ЗАКРЫТА
        </div>
      {% endif %}
      </div>
    </div>
    <div class="event-date">
      {{ event.date | toDateFormat("d MMMM yyyy, HH:mm") }}
    </div>
    <div class="event-announcement w-richtext">
      <p>
        {{ event.longAnnouncement | safe }}
      </p>
    </div>
    <div class="w-dyn-list">
      <div class="w-dyn-items">

        {% for talk in event.talks %}
          {% include "meetup-talk.layout.njk" %}
        {% endfor %}

      </div>
    </div>
    <h1>Площадка</h1>
    <div class="w-row">
      <div class="w-col w-col-8">
        <a href="{{ config.vhost }}/companies/{{ event.company.slug }}/" class="venue-name">
          {{ event.company.name }}
        </a>
        <p>
          {{ event.venue.name }}
        </p>
      </div>
    </div>

    <p class="venue-address-margined">
      {{ event.venue.address }}
    </p>

    {% if event.venue.map.length > 0 %}

        {% for map in event.venue.map %}
          <img
            src="{{ map.thumbnails.full.url }}"
            alt="Схема: как добраться до площадки {{ event.company.name }}({{ event.venue.name }})"
            class="venue-image"
          >
        {% endfor %}

    {% endif %}

  </div>
</div>
