---
layout: base.layout.njk
---

<div>
  <div class="hero-image">
    <div class="w-container">
      <p class="hero-paragraph">
        Регулярные встречи JavaScript-разработчиков в Москве. Обсуждаем
        фреймворки, инструменты и процессы. Делимся знаниями и личным опытом
        в неформальной обстановке.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="container w-container">
    <div class="w-dyn-list">
      <div class="w-dyn-items">
        <div class="event w-dyn-item">
          <div class="w-row">
            <div class="event-column w-col w-col-9 w-col-stack">
              <a href="/event/moscowjs-49" class="event-name"
                >MoscowJS 49</a
              >
              <div class="event-linker">
                в
              </div>
              <a href="/venue/kaspersky" class="event-host">Kaspersky</a>
            </div>
            <div class="w-clearfix w-col w-col-3 w-col-stack">
              <a
                href="#"
                target="_blank"
                class="signup-button w-condition-invisible w-button"
              >
                ЗАРЕГИСТРИРОВАТЬСЯ
              </a>
              <div class="signup-button">
                РЕГИСТРАЦИЯ ЗАКРЫТА
              </div>
            </div>
          </div>
          <div class="event-date">26 марта 2020, 19:00</div>
          <div class="event-address">
            Ленинградское шоссе, 39 А строение 2
          </div>
          <div class="event-announcement w-richtext">
            <p>
              Следующая встреча MoscowJS пройдёт в офисе &quot;Лаборатория
              Касперского&quot; 26 марта.
              <br />
              <br />
              Не забудьте паспорт или другое удостоверение личности.
              <br />
              <br />
              <strong>Расписание:</strong>
              <br />
            </p>
            <p>
              <strong>19:00</strong>
              — Регистрация и кофе-брейк
            </p>
            <p>
              <strong>19:15 </strong>
              Открытие
            </p>
            <p>
              <strong>19:30 &quot;Babel &amp; DX&quot; </strong>
              Павел Ремизов (Offside Gaming)
              <br />
              <strong
                >20:05 &quot;Concurrent Mode: монтируй, конкурируй,
                обновляй&quot;
              </strong>
              Григорий Бизюкин (Яндекс)
            </p>
            <p>
              <strong>20:40 </strong>
              Перерыв
            </p>
            <p>
              <strong>20:55 &quot;Work-life imbalance&quot; </strong>
              Гордей Левченко (BTS-Digital)
            </p>
            <p>
              <strong>21:40 </strong>
              Закрытие
            </p>
            <p>
              <strong>22:00</strong>
              Afterparty
            </p>
            <p>‍</p>
            <p>‍</p>
            <p>‍</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="main-container w-container">
    <h1 class="subheader">Для докладчиков</h1>
    <p>
      Мы всегда рады новым докладам. Чтобы стать докладчиком на нашем
      митапе, нужно заполнить специальную форму. Мы подготовили список
      пожеланий для докладчиков, чтобы повысить качество докладов.
      Ознакомиться с ним можно
      <a target="_blank" href="https://github.com/MoscowJS/speaker#speaker">
        ЗДЕСЬ
      </a>
      .
    </p>
    <div class="center">
      <a
        href="https://airtable.com/shrGPkCJs9XFW3pCJ"
        target="_blank"
        class="signup-button-for-speakers w-button"
      >
        ХОЧУ СТАТЬ ДОКЛАДЧИКОМ
      </a>
    </div>
  </div>
</div>
