---
layout: base.layout.njk
---

{% set venueAnchor = "" %}
{% set event = airtable.events | getLastEvent %}

{% if event.venue.slug %}
  {% set venueAnchor = "#" + event.venue.slug %}
{% endif %}

{# <pre>{{ event | stringify | safe }}</pre> #}

<div>
  <div class="hero-image">
    <div class="w-container">
      <p class="hero-paragraph">
        Регулярные встречи JavaScript-разработчиков в Москве. Обсуждаем
        фреймворки, инструменты и процессы. Делимся знаниями и личным опытом
        в неформальной обстановке.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="container w-container">
    <div class="w-dyn-list">
      <div class="w-dyn-items">
        <div class="event w-dyn-item">
          <div class="w-row">
            <div class="event-column w-col w-col-9 w-col-stack">
              <a
                href="{{ config.vhost }}/events/{{ event.slug }}/"
                class="event-name"
              >
                {{ event.title }}
              </a>
              <div class="event-linker">
                в
              </div>
              <a
                href="{{ config.vhost }}/companies/{{ event.company.slug }}/{{ venueAnchor }}"
                class="event-host"
              >
                {{ event.company.name }}
              </a>
            </div>
            <div class="w-clearfix w-col w-col-3 w-col-stack">
              <a
                href="#"
                target="_blank"
                class="signup-button w-condition-invisible w-button"
              >
                ЗАРЕГИСТРИРОВАТЬСЯ
              </a>
              <div class="signup-button">
                РЕГИСТРАЦИЯ ЗАКРЫТА
              </div>
            </div>
          </div>
          <div class="event-date">
            {{ event.date | toDateFormat("d MMMM yyyy, HH:mm") }}
          </div>
          <div class="event-address">
            {{ event.venue.address }}
          </div>
          <div class="event-announcement w-richtext">
            {{ event.longAnnouncement | safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="main-container w-container">
    <h1 class="subheader">Для докладчиков</h1>
    <p>
      Мы всегда рады новым докладам. Чтобы стать докладчиком на нашем
      митапе, нужно заполнить специальную форму. Мы подготовили список
      пожеланий для докладчиков, чтобы повысить качество докладов.
      Ознакомиться с ним можно
      <a target="_blank" href="https://github.com/MoscowJS/speaker#speaker">
        ЗДЕСЬ
      </a>
      .
    </p>
    <div class="center">
      <a
        href="https://airtable.com/shrGPkCJs9XFW3pCJ"
        target="_blank"
        class="signup-button-for-speakers w-button"
      >
        ХОЧУ СТАТЬ ДОКЛАДЧИКОМ
      </a>
    </div>
  </div>
</div>
