---
layout: base.layout.njk

pagination:
  data: airtable.speakers
  size: 1
  alias: speaker
permalink: speakers/{{ speaker.slug }}/
---

{# <pre>{{ speaker | stringify | safe }}</pre> #}

<div>
  <div class="main-container w-container">
    <div class="w-row">
      <div class="speaker-column w-col w-col-4 w-col-medium-6">
        <img
          src="{{ speaker.photo[0].url }}"
          alt="{{ speaker.name }}"
          class="speaker-avatar big"
        />
      </div>
      <div class="w-col w-col-8 w-col-medium-6">
        <h1 class="speaker-name big">{{ speaker.name }}</h1>
        <div class="speaker-about w-richtext">
          <p>
            {{ speaker.about }}
          </p>
          <p>‍</p>
        </div>

        {% if speaker.company %}
          <div class="item">
            <div class="term">Компания:</div>
            <div class="definition">{{ speaker.company }}</div>
          </div>
        {% endif %}

        {% if speaker.email %}
          <div class="item">
            <div class="term">Email:</div>
            <div class="definition">{{ speaker.email }}</div>
          </div>
        {% endif %}

        {% if speaker.skype %}
          <div class="item">
            <div class="term">Skype:</div>
            <div class="definition">{{ speaker.skype }}</div>
          </div>
        {% endif %}

        {% if speaker.personalLink %}
          <div class="item">
            <div class="term">Сайт:</div>
            <a href="{{ speaker.personalLink }}" class="definition">{{ speaker.personalLink }}</a>
          </div>
        {% endif %}

        {% if speaker.github %}
          <div class="item">
            <div class="term">Github:</div>
            <a href="{{ speaker.github }}" class="definition">{{ speaker.github }}</a>
          </div>
        {% endif %}

        {% if speaker.twitter %}
          <div class="item">
            <div class="term">Twitter:</div>
            <a href="https://twitter.com/{{ speaker.twitter }}" class="definition">@{{ speaker.twitter }}</a>
          </div>
        {% endif %}

        {% if speaker.telegram %}
          <div class="item">
            <div class="term">Telegram:</div>
            <a href="https://t.me/{{ speaker.telegram }}" class="definition">@{{ speaker.telegram }}</a>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="center">
      <h2>Доклады</h2>
      <div class="w-dyn-list">

        {% if speaker.talks.length === 0 %}
          <div class="w-dyn-empty">
            <div>Нет ни одного доклада</div>
          </div>
        {% else %}
          <div class="w-dyn-items">

            {% for talk in speaker.talks %}
              <div class="talk-link-container w-dyn-item">
                <a href="{{ config.vhost }}/talks/{{ talk.slug }}/" class="talk-link">
                  {{ talk.title }}
                </a>
              </div>
            {% endfor %}

          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>




