<!DOCTYPE html>
<html lang="ru">
  <head>

    {% include "head.layout.html" %}

  </head>
  <body class="body">

    {% include "nav.layout.njk" %}

    {{ content | safe }}

    {% include "footer.layout.html" %}

    {% include "footer-scripts.layout.html" %}

  </body>
</html>
